<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авиалинии "# на русской раскладке"</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <style>
        body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../static/images/otel.jpg) no-repeat;
        }
    </style>
</head>
<body>
<header class="site-header">
    <div class="site-identity">
        <h1>Авиалинии "# на русской раскладке"</h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">О нас</a></li>
            <li><a href="https://www.youtube.com/watch?v=xwsmN-JyTmo">Новости</a></li>
            <li><a href="https://t.me/dgsheyshvzvz">Связаться</a></li>
        </ul>
    </nav>
</header>
<p>

</p>
<div class="cityselect">
    <h2>Из</h2>
    <form action="/content" class="selectorcss" method="GET">
        <select name="selector">
            <option value="nsk">Новосибирска</option>
            <option value="irk">Иркутска</option>
            <option value="bar">Барнаула</option>
        </select>
        <h2>в</h2>
        <select name="selector1">
            <option value="msk">Москву</option>
            <option value="ekb">Екатеринбург</option>
            <option value="spb">Санкт-Петербург</option>
        </select>
        <input type="submit" value="Подтвердить">
    </form>
</div>
<p></p>
<div class="citydistance">
    {% if content %}
    <h2> Расстояние между городами {{ name0 }} и {{ name1 }}: {{ distance }} километров. </h2>
    <h2> Время перелёта составит {{ vremya }} часов. </h2>
    <h2> Стоимость перелёта составит {{ price }} рублей. </h2>
    {% endif %}
</div>
<p></p>
<div class="cityline">
    <div class="cityinfo">
    {% if content %}
    <img class="img" src="{{url_for('static', filename = img) }}"/>
    {{ content }}
    {% endif %}
    </div>
    <div class="cityinfo">
    {% if content %}
    <img class="img" src="{{url_for('static', filename = img1) }}"/>
    {{ content1 }}
    {% endif %}
    </div>
    <div class="cityinfo">
    {% if content %}
    <img class="img" src="{{url_for('static', filename = img2) }}"/>
    {{ content2 }}
    {% endif %}
    </div>
</div>


</body>
</html>